{%load bootstrap4%}
{%load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {%if title %}
  <title>Life in Pictures: {{title}}</title>
  {%else%}
  <title>Life in Pictures</title>
  {%endif%}
  {%block styles%}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Piedra&family=Satisfy&family=Vidaloka&display=swap" rel="stylesheet">
  {%endblock%}
</head>

<body>
  {%block content%}
  {%include 'navbar.html'%}
  <!-- Modal -->
  <div class="modal fade" id="ScrollableModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgmdtitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="mod-img">
        <p class="modalp" id="imgmddescription"></p>
        <p class="modalp" id="imgmdcategory"></p>
        <p class="modalp" id="imgmdlocationspecifc"></p>
        <p class="modalp" id="imgmdlocation"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  {%endblock%}
 
  <footer class="jumbotron text-center">Brought to you with love from the Live in Picture Team</footer>
</body>
{%block scripts%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {%bootstrap_javascript%}
  <script src="../../static/js/home.js"></script>
  {%endblock%}

</html>