{%extends 'base.html'%}
{%load static%}


{%block styles%}
{{block.super}}
{%endblock%}

{%block content%}
{{block.super}}
<div class="container text-center">
  <div class="row grid">
    {%for image in images%}
    <div class="grid_item col-md-4 col-xs-6 col-sm-6 col-lg-3">
      <img onclick="showModal('{{image.name}}','{{image.description}}','{{image.picha_image.url}}','{{image.locations.specific_locale}}','{{image.locations.city}}','{{image.locations.country}}','{{image.categories.name}}')"
      class="image img-responsive box" src="{{image.picha_image.url}}">
      <!-- Did not work with Heroku, required xclip and heroku support for apt buildpack collided with python buildpack 
        <a class="btn " href="{%url 'copyUrl' image.id %}" id="copyimg" onclick="copy()">Copy</a> -->
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}