<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{%url 'homePage'%}">Life in Picture</a>

  <a class="navlink" href="{%url 'categories'%}">Categories</a>
  <a class="navlink" href="{%url 'locations'%}">Locations</a>
  <a class="navlink" href="/admin">Admin</a>



  <form class="form-inline" role="search" action="{%url 'searchTags'%}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchtag">
    <button class="btn btn-outline-success my-2 my-sm-0 navlink" type="submit">Search</button>
  </form>
</nav>