
img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.box_item{
 margin: 5px;
}
.griditem{
  width: 200px;
  
}
.grid{
  margin-top: 70px;
}

p{
  margin: 5px;
}

button{
  margin: 10px;
}
#imgmdtitle{
  font-family: 'Satisfy', cursive;
}

.modalp{
  font-family: 'Kaushan Script', cursive;
}
.searchtitle{
  font-family: 'Vidaloka', serif;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}
.navlink{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}